@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --Softblue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --Verydarkblue: hsl(217, 54%, 11%);
    /* background color */
    --Verydarkbluecard: hsl(216, 50%, 16%);
    --Verydarkblueline: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}

html,
body {
    background-color: var(--Verydarkblue);
    height: 100vh;
    font-family: 'Outfit', sans-serif;
}

.container {
    background-color: var(--Verydarkbluecard);
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 20.5rem;
    height: 33rem;
    margin-top: 5rem;
    border-radius: 0.625rem;
}

.card-img {
    display: flex;
    justify-content: center;
    margin-top: 0.9375rem;
    padding: 0.3125rem;

}

img {
    width: 17rem;
    border-radius: 8px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}