@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --Softblue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --Verydarkblue: hsl(217, 54%, 11%);
    /* background color */
    --Verydarkbluecard: hsl(216, 50%, 16%);
    --Verydarkblueline: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}

html,
body {
    background-color: var(--Verydarkblue);
    height: 100vh;
    font-family: 'Outfit', sans-serif;
}

.container {
    background-color: var(--Verydarkbluecard);
    display: flex;
    flex-direction: column;
    margin: 7rem auto 0 auto;
    width: 20.5rem;
    height: 34.5rem;
    border-radius: 0.625rem;
}


.card-img {
    display: flex;
    justify-content: center;
    margin-top: 0.9375rem;
    padding: 0.3125rem;

}


img {
    width: 17rem;
    border-radius: 0.5rem;
}

img::active {
    background-color: var(--Cyan);
    transition: 0.3s;
}



.title-detail {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-left: auto;
    padding: 0.625rem;
}

h3 {
    font-size: 1.3rem;
    margin-bottom: 0.938rem;
}

a {
    text-decoration: none;
    color: var(--White);
}

a:active {
    color: var(--Cyan);

}

.details {
    color: var(--Softblue);
    font-weight: 300;
    font-size: 0.95rem;
    line-height: 1.563rem;
}

.time {
    display: flex;
    justify-content: space-between;
    margin-top: 0.938rem;

}

.eth {
    font-size: 0.9rem;
    color: var(--Cyan);
    padding-left: 0.313rem;
    font-weight: 600;

}

.days-left {
    font-size: 0.9rem;
    color: var(--Softblue);
    padding: 0rem 1.25rem 0rem 0.313px;
}

.time-image-section1 {
    display: flex;
}


.time-image1 {
    width: 0.70rem;
    object-fit: contain;
}

.time-image-section2 {
    display: flex;
}


.time-image2 {
    width: 1rem;
    object-fit: contain;
    margin-right: 0.313rem;
}

.icon {
    width: 2rem;
    border: 0.063rem solid white;
    border-radius: 50%;
    object-fit: contain;
}

.creation {
    border-top: 0.063rem solid var(--Verydarkblueline);
    margin-top: 0.938rem;

}

.creation-p {
    color: var(--Softblue);
    font-weight: 300;
    font-size: 0.9rem;
    font-weight: 400;
    margin-left: 0.938rem;
    margin-top: 0.5rem;
}

.creation-details {
    display: flex;
    margin-top: 0.938rem;

}

span {
    color: var(--White);
}

.attribution {
    font-size: 0.688rem;
    text-align: center;
    margin-top: 0.938rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


/* media queries */


@media (max-width: 280px) {
    .container {
        width: 90%;
        height: 75%;
    }

    img {
        width: 90%;
    }

    .creation {
        padding-bottom: 0.625rem;
    }
}

@media (min-width: 2560px) {
    .container {
        display: flex;
        width: 40%;
        height: 55%;
        justify-content: center;

    }

    img {
        width: 60%;
        border-radius: 3.75rem;
    }

    .title-detail {
        text-align: center;
    }

    .time {
        display: flex;
        justify-content: space-evenly;
    }

    .creation {
        display: flex;
        justify-content: center;
        padding-bottom: 0.625rem;
    }

    h3 {
        font-size: 2.3rem;
    }

    .details {
        font-size: 1.3rem;
    }

    .days-left,
    .eth {
        font-size: 1.25rem;
    }

    .creation-p {
        font-size: 1.2rem;
    }
}